@model SCCL.Web.ViewModels.SiteAdminViewModel

@{
    ViewBag.Title = "Website Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="adminTitle">
    <h1>SC Content Management System</h1>
    <hr/>
</div>

@*Solutions Admin Section*@
<div class="admincontainer">
    <h2>Solutions</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Solution.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solution.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solution.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var soln in Model.Solutions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => soln.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => soln.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => soln.Description)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Solutions", new { id = soln.Id }, new  {@class="btn btn-default" , @style = "width:200px;"})
                    @Html.ActionLink("Delete", "Delete", "Solutions", new { id = soln.Id }, new { @class = "btn btn-default", @style = "width:200px;" })
                </td>
            </tr>
        }

    </table>
        @Html.ActionLink("Create New", "Create", "Solutions", null, new { @class = "btn btn-default align-right", @style = "width:200px;" }) 
</div>
@*End of Solutions Admin Section*@

@*Services Admin Section*@
<div class="admincontainer">
    <h2>Services</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var servc in Model.Services)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => servc.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => servc.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => servc.Description)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Services", new { id = servc.Id }, new { @class = "btn btn-default", @style = "width:200px;" })
                    @Html.ActionLink("Delete", "Delete", "Services", new { id = servc.Id }, new { @class = "btn btn-default", @style = "width:200px;" })
                </td>
            </tr>
        }

    </table>

        @Html.ActionLink("Create New", "Create", "Services", null, new { @class = "btn btn-default", @style = "width:200px;" })
</div> 
@*End of Services Admin Section*@

@*Testimonials Admin Section*@
<div class="admincontainer">
    <h2>Testimonials</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Testimonial.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testimonial.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testimonial.Message)
            </th>
            <th></th>
        </tr>

        @foreach (var testimonial in Model.Testimonials)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => testimonial.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => testimonial.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => testimonial.Message)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Testimonial", new { id = testimonial.Id }, new { @class = "btn btn-default", @style = "width:200px;" })
                    @Html.ActionLink("Delete", "Delete", "Testimonial", new { id = testimonial.Id }, new { @class = "btn btn-default", @style = "width:200px;" })
                </td>
            </tr>
        }

    </table>

        @Html.ActionLink("Create New", "Create", "Testimonial", null, new { @class = "btn btn-default", @style = "width:200px;" })
</div>
@*End of Testimonials Admin Section*@



