@model SCCL.Core.Entities.Portfolio

@{
    ViewBag.Title = Model.PortfolioType;
}

@section metatags{
    <meta name="description" content="Browse our rich library of publications and projects undertaken by Stable Corps">
    <meta name="keywords" content="economics, diesel, oil, generation, ghana, power">
}

<!--Title Strip-->
<section id="content-region-3" class="page-tree-bg">
    <div class="container text-center breadstrip">
        <p>@Html.ActionLink("Our Works", "Index", "Portfolio", null, new { @style = "color:white;"}) > Publications</p>
    </div>
</section>
<!--End of Title Strip-->

<div class="space-70"></div>

<div class="container portfolio-details">
    <div class="row">
        <div class="col-md-8 portfolio-single-slide margin-btm-40">
            <div class="flexslider">
                <ul class="slides">
                    @foreach (var p in Model.PortfolioImages)
                    {
                        <li>
                            <img class="img-responsive" src="@Url.Action("GetPortfolioImage", "Portfolio", new { p.Id })" alt="@Html.DisplayName(Model.PortfolioType)"/>
                        </li>
                    }
                </ul>
            </div><!--flex slider-->
            <div class="portfolio-single-desc">
                <h3>@Model.Title</h3>
                <h4 style="color:black">Abstract</h4>
                <p>
                    @Model.Summary
                </p>
                <hr>
            </div><!--portfolio detail-->
        </div>
        <div class="col-md-4">
            <div class="portfolio-side-bar">
                <p>
                    <strong>Author:</strong> @Model.Author
                </p>
                <p>
                    <strong>Publisher:</strong> @Model.Publisher
                </p>
                <p>
                    <strong>Research Area:</strong> @Model.ResearchArea
                </p>
               
                <br>
                <p>
                    <hr/>
                    <div class="text-center">
                        <a href="@Model.LinkUrl" target="_blank" class="btn btn-radius theme-btn-color">View Full Text</a><br/><hr/>
                    </div>

                    <div class="text-center">
                        @Html.ActionLink("Contact Us", "Index", "Contact", null, new {@class = "btn btn-radius theme-btn-color"})
                    </div><hr/>

                </p>
            </div>
        </div>
    </div>
</div><!--portfolio single container end-->