@model IEnumerable<SCCL.Core.Entities.Portfolio>

@{
    ViewBag.Title = "Our Works";
}

@section metatags{
    <meta name="description" content="Browse our rich library of publications and projects.">
    <meta name="keywords" content="economics, diesel, oil, generation, ghana, power">
}

<!--Title Strip-->
<section id="content-region-3" class="page-tree-bg">
    <div class="container text-center">
        <p style="color: white;">Our Works</p>
    </div>
</section>
<!--End of Title Strip-->

<!--preloader-->
<div id="preloader"></div>
<!--preloader-->

<div class="space-70"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="portfolio-filters">
                <li class="filter active" data-filter="all">all</li>
                @foreach (var k in Model)
                {
                    <li class="filter" data-filter="@Html.DisplayName(k.PortfolioType.ToLower())">@Html.DisplayName(k.PortfolioType)</li>
                }
                
            </ul>

            <div id="grid" class="row">
                
                @foreach (var p in Model)
                {
                    <div class="mix @Html.DisplayName(p.PortfolioType.ToLower()) col-md-4 col-sm-6 margin-btm-40">
                        <div class="portfolio-sec">
                            <div class="portfolio-thumnail">
                                    <img class="img-responsive" src="@Url.Action("GetImage", "Portfolio", new {p.Id})" alt="@p.Title"/>
                            </div>
                            <div class="portfolio-desc text-center">
                                <h4 class="portfolio-post-title">@p.Title</h4>
                                <span class="portfolio-post-cat">@p.ResearchArea</span>
                                <h4>@Html.ActionLink("More Detail", "Detail", "Portfolio", p.Id, new { @class = "btn theme-btn-default btn-lg" })</h4>
                            </div>
                        </div>
                    </div><!--portfolio item -->
                    
                }
            </div><!--grid-->
        </div>
    </div><!--row-->
</div><!--portfolio container end-->

<div class="space-70"></div>




